@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply bg-black text-white/70 relative overflow-x-hidden;
}
body::before{
    content : '';
    background: radial-gradient(circle, rgb(37, 48, 52) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.container {
    @apply max-w-5xl mx-auto px-5;
}
.bg-blur {
    @apply bg-black/30 backdrop-blur-md;
}
.btn {
    @apply rounded-full py-2 px-4 transition-all;
}

.btn-primary {
    background-size: 200% auto;
    transition: all 0.5s ease; /* Corrected: Added 's' for seconds and fixed the space in 'ease' */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgb(150, 223, 250) 51%, rgba(0,0,0,1) 100%);
}

.btn-primary:hover {
    background-position: right center;
}


.card {
    @apply min-w-96 bg-white/5 rounded-lg p-5 border border-white/10 backdrop-blur-md;
}
input[type='text'] , input[type='email'] , input[type='password'] {
    @apply w-full py-2 px-2 bg-transparent border-2 border-white/30 my-2 rounded-lg;
}
form label {
    @apply text-white/70 text-sm my-1 block;
}
.form-group {
    @apply my-5
}